.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #2ab328;
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

li {
  border-right: 0.2px solid;
  border-left: 0.2px solid;
  border-color: #208c1f;
  width: 5rem;
  font-size: 1rem;
  padding: 1.4rem 1rem;
  transition: background-color 0.3s linear;
  position: relative;
}

li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

li:hover {
  background-color: #208c1f;
  color: #fcfcfc;
}

li.item-1.active::after {
  background-color: #6f3b3b;
  border-color: #6f3b3b;
}

li.item-2.active::after {
  background-color: #0ca3ec;
  border-color: #0ca3ec;
}

li.item-3.active::after {
  background-color: #c7a602;
  border-color: #c7a602;
}

li.item-4.active::after {
  background-color: #4f52bb;
  border-color: #4f52bb;
}

li.item-5.active::after {
  background-color: #b30000;
  border-color: #b30000;
}
